a {
    padding-left: 20px;
    background-image: url("../images/link_icon.png");
    background-size: 17px 17px;
    background-repeat: no-repeat;
}

/*
a::before {
    content: url("../images/link_icon.png");
}*/