.container {
    width: 70%;
}

h1 {
    margin-top: 20px;
}

input {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #aaaaaa;
}

.container > p {
    font-size: 0.8em;
    color: gray;
}

#btnGo {
    width: 100%;
    background-color: green;
}

h2 {
    margin: 30px 5px 5px 5px;
}

.card {
    width: 31.3%;
    margin: 0 1% 10px 1%;
    box-sizing: border-box;
    color: white;
}

#galleryCards {
    margin: 0 0;
}