body{
    margin: 0px;
    background-color: #EDF2F4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    margin: 0px;
    color: red
}

header {
    height: 500px;
    background-image: url(../images/flowers.jpg);
    background-repeat: no-repeat; /*repeat(y of x) werkt niet met size cover*/
    background-color: #FFFFFF;
    background-size: cover; /*foto mee resizen als cover image*/
}